*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(73, 73, 73);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 130px;

}
h1{
    color: red;
    font-size: 2em;
    font-weight: 600;
    padding: 20px;
}
.navigation a{
    color: aliceblue;
    padding-left: 20px;
    font-size: 1.1em;
    font-size: 500;
    text-decoration: none;

}
.navigation a:hover{
    color: red;

}
.div2{
    background-color: slateblue;
    color: aliceblue;
     width: 120px;
    height: 50px;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;

}
@keyframes coloring {

    0% {
        background-color: rgb(2, 56, 38);
    }
    20%{
        background-color: rgb(230, 93, 30);
    }



    40%{
         background-color: rgb(56, 2, 2);
    }

    60%  {
    background-color: rgb(2, 56, 38);
    }


    80% {
    background-color: rgb(199, 37, 191);
        }
        100%{
     background-color: blue;
        }

        }
   
    


h2{
    color:aliceblue;
    font-size: 2em;
    padding: 20px;
    
}
h3{
    color: red;
    font-size: 3em;
    padding: 5px;
    animation: bounce 2s linear infinite ;

}
.part1{
    display: flex;
    justify-content: space-between;
}
.image{
    width: 500px;
    


    


}
.contant1 p{
    color: aliceblue;
    font-size: 2em;
    font-weight: 600;
    padding: 5px;

}
.contant1 span{
    color: aquamarine;
}
.link{
    background-color: slateblue;
    color: aliceblue;
    width: 200px;
    height: 70px;
    padding: 20px;
    border-radius: 40px;
    font-size: 2em;
    margin: 10px;
    display: inline-block;
    margin: 30px;
    font-weight: 600;
    animation: coloring 2s linear infinite;
}

    
    

.contant1 a:hover{
    background-color: purple;
}
.contant2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    


    

}
.title{
    font-size: 3em;
    font-weight:700 ;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
    position: relative;
   
    

}
.contant2 div{
    width: 300px;
    height: 200px;
    background-color: cornflowerblue;
    margin: 30px;
    margin-right: 90px;
    margin-left: 90px;
    border-radius: 30px;
    position: relative;
}
div h5{
    font-size: 2em;
    font-weight: 700;
    padding-left: 70px;
}
.contant3{
    width: 50%;
    height: 170px;
    background-color: aquamarine;
     padding: 40px;
    border-radius: 30px;
    margin: auto;

}
.add{
    width:40px;
    height: 40px;

    background-color: transparent ;
    border-radius: 50px;
    border: blue solid 3px;
    border-left-color: transparent;
    animation:spin 1s linear  infinite;
    position: absolute;
    margin-left: 360px;
    margin-top: 10px;



}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
       
    100%{
        transform: rotate(360deg);
    }
        
}
.contant2 div a{
    background-color: antiquewhite;
    text-decoration: none;
    position: absolute;
    top:50px;
    left:30px;
    font-size: 1.1em;
    font-weight: 400;
}



